:root{
    margin: 0;
    padding: 0;
    --azul-primary: #5893CA;
    --fundo: #EAEAEA;
    --traco: #B1B1B1;
}

body {
    background: var(--fundo);
}

.first-line {
    display: inline;
    line-height: 35px;
}

.icn-logo {
    display: flex;
    margin: -5px 0 0 15px;
}

.first-paragrapher {
    display: flex;
    margin: -25px 10px 0 35px;
}

.icn-wifi {
    display: flex;
    margin: -26px 0 0 170px;
}

.second-line {
    border: 1px solid var(--azul-primary);
    margin-top: 3px;
    margin-left: -8px;
    width: 101%;
    height: 28px;
    background: #5893CA;
}

.icn-circulo {
    margin: 2px 0 0 16px;
}
 .third-line {
    border-bottom: 1px solid var(--traco);
    margin-left: -8px;
    width: 101%;
    display: flex;
    height: 20px;
 }

 #p-apn {
    font-family: 'Irish Grover';
    margin: 1px 0 0 18px;
    color: var(--azul-primary);
    font-size: 16px;
 }

 p {
    display: inline;
    font-size: 10px;
 }

 .teste {
    display: inline;
    margin: 2px 0 0 75.5vw;  
    line-height: 14px; 
 }

.p-first {
    border-left: 1px solid var(--traco);
}

.p-second{
    border-left: 1px solid var(--traco);
}

.p-third{
    border-left: 1px solid var(--traco);
}

.p-fourth {
    border-left: 1px solid var(--traco);
    border-right: 1px solid var(--traco);
}

.comtainer-principal {
    display: flex;
}

.container-vertical {
    display: inline-block;
    border: 1px solid var(--fundo);
    margin: 0 0 0 -8px;
    height: 86.376vh;
    width: 16%;
    box-sizing: content-box;
    background: var(--fundo);
}

.container-horizontal {
    display: flex;
    background: #FFFFFF;
    height: 631.91px;
    width: 102%;
    margin: -631.9px 0 0 -10px ;
}

.square{
    border: 1px solid var(--fundo);
    margin: 25px 10px;
    height: 150px;
    background: #FFFFFF;
    border-radius: 4px;
}
 .square-inside {
    border: 10px solid var(--azul-primary);
    margin: 10px 10px;
    height: 110px;
 }

 .icn-square {
    margin: 10px 0 0 45px;
 }

.square-menu {
    background: #FFFFFF;
    width: 90%;
    border-radius: 4px;
    line-height: 30px;
}

 .p-menu {
    margin: 0 0 0 13px;
    color: var(--azul-primary);
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
 }

 .square-menu-itens {
    display: grid;
    color: var(--azul-primary);
    margin: 25px 0 0 0;
 }

 .p-menu-first{
    font-size: 16px;
    border-top: 1px solid var(--traco);
    margin-bottom: 0;
    cursor: pointer;
 }

 .p-menu-second {
    margin-top: 0;
    font-size: 16px;
    border-top: 1px solid var(--traco);
    margin-bottom: 0;
    cursor: pointer;
 }

 .p-menu-third {
    margin-top: 0;
    font-size: 16px;
    border-top: 1px solid var(--traco);
    margin-bottom: 0;
    cursor: pointer;
 }

 .p-menu-four {
    margin-top: 0;
    font-size: 16px;
    border-top: 1px solid var(--traco);
    margin-bottom: 0;
    cursor: pointer;
 }

 .p-menu-five {
    margin-top: 0;
    font-size: 16px;
    border-top: 1px solid var(--traco);
    border-bottom: 1px solid var(--traco);
    margin-bottom: 0;
    cursor: pointer;
 }
.container-menu {
    margin: 0 0 0 -8px;
    background: #FFFFFF;
    height: 120px;
    width: 101%;
}

h2 {
    margin: 0 0 0 50px;
    padding-top: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 20px;
}

.menu-btn {
    height: 50px;
    margin-top: 30px;
    margin-left: 14px;
}

.a_btn-cadastro {
    text-decoration: none;
    color: #FFFFFF;
}

.btn-cadastro, .btn-consultaEst {
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 35px;
    border: 1px solid var(--azul-primary);
    padding: 10px;
    border-radius: 6px;
    background: var(--azul-primary);
    text-transform: uppercase;
}

.ipt-pesquisar {
    height: 32px;
    border-radius: 6px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid black;
    margin: 0 0 0 -12px;
    width: 250px;
}

.preencher, .preencher-consulta {
    height: 30px;
    border-radius: 6px;
    border: 1px solid black;
    margin-left: 775px;
    width: 20px; 
    padding: 15px;
    font-size: 6px;
    padding-bottom: 11px;
    background: var(--fundo);
    color: var(--fundo);
}

.preencher-consulta {
    margin-left: 1050px;
}

.a_p-menu-first {
    text-decoration: none;
    color: var(--azul-primary);
}

.container-complementar {
    margin-left: -8px;
    width: 101%;
    height: 520px;
    background: #FFFFFF;
}

.container-incluir-prod {
    margin: 0 0 0 -8px;
    width: 101%;
    border: 1px solid #FFFFFF;
    height: 520px;
    background: #FFFFFF;
}

.inserindo-prod {
    border: 3px solid rgb(209, 209, 209);
    margin: 46px;
    width: 93%;
    height: 420px;
    border-radius: 6px;
    display: inline-block;
}

.description {
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 80px;
}

.item-description {
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 95px;
}

.item-cost {
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 90px;
}

.item-mkp {
    font-size: 16px;
    text-transform: uppercase;
    margin-left: 96px;
}

#ipt-code {
    margin-top: 65px;
    margin-left: 10px;
    width: 250px;
    line-height: 1.4em;
}

#ipt-description {
    margin-top: 65px;
    margin-left: 10px;
    width: 250px;
    line-height: 1.4em;
}

#ipt-cost {
    margin-top: 65px;
    margin-left: 10px;
    width: 250px;
    line-height: 1.4em;
}

#ipt-mkp {
    margin-top: 65px;
    margin-left: 10px;
    width: 250px;
    line-height: 1.4em;
}

#btn-salvar {
    padding: 8px;
    width: 100px;
    font-size: 18px;
    color: #FFFFFF;
    background: var(--azul-primary);
    border: none;
    border-radius: 4px;
    margin: 15px 0 0 1250px;
    cursor: pointer;
}

.space {
    padding: 20px;
}

.consultaEst {
    border: 1px solid black;
    height: 480px;
    width: 100%;
    border-radius: 4px;
}

.consultaEst-cabecalho {
    border-bottom: 1px solid black;
    height: 1.5em;
    width: 100%;
}

.consultaEst-p {
    font-size: 14px;
    margin: 0 35px 0 50px;
}

#show-code {
    font-size: 15px;
    margin-left: 65px;
}